// All var for scss

//COLORS
$yellow: #F1D570;
$red: #B33C47;
$blue: #002C69;

//FONTS
$lato: 'Lato';
$sf: 'SF Display';
$brandon_black: 'Brandon Grotesque Black';
$brandon_bold: 'Brandon Grotesque Bold';

$container: 70vw;
