@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.ttf?") format("ttf")
}

@font-face {
	font-family: "Lato";
	font-weight: bold;
	src: url("../fonts/Lato-Bold.ttf?") format("ttf")
}

@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/Avenir-Next.ttc?") format("ttc")
}

@font-face {
	font-family: "SF Display";
	src: url("../fonts/SFDisplay-Regular.otf?") format("TrueType")
}

@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon_bld.otf?") format("TrueType")
}

@font-face {
	font-family: "Brandon Grotesque"; 
	font-weight: bold;
	src: url("../fonts/Brandon_blk.otf?") format("TrueType")
}

body{
	font-family: Lato;
}

h1, h2, h3, h4{
	font-family: Brandon Grotesque; 
}
