
body {
	margin: 0;
    padding: 0;
    width: 100vw; 
}

.background__bird {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    //background-image: url('../img/large-bird.png');
    background-position: 20% -20px;
    background-repeat: no-repeat;
    background-size: 40%;
}

.title {
    width: 90%;
    margin: auto;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 1px;   
    font-size: 64px;
    font-weight: bold;
    color: #002C69;
    margin-bottom: 50px;

    @include s-small {
        font-size: 32px;
        margin-bottom: 25px;
    }

    @include small {
        font-size: 32px;
        margin-bottom: 25px;
    }
}

.practical {
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px auto 50px;
    
    @include s-small {
        width: 90vw;
    }

    @include small {
        width: 90vw;
    }

    @include medium {
        width: 75vw;
    }
}

.practical__sub {
    width: 45%;

    @include s-small {
        width: 100%;
    }

    @include small {
        width: 100%;
    }
}

.practical__categories {
    width: 100%;
    height: 15%;
    margin-bottom: 50px;

    @include s-small {
        margin: 25px 0px 25px 0px;
        height: auto;
    }

    @include small {
        margin: 25px 0px 25px 0px;
        height: auto;
    }
}

.practical__categories.practical__categories--security {
    line-height: 25px;
}

.practical__subtitle {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #002C69;
    margin-bottom: 15px;
}

.social__media {
    display: flex;
    flex-direction: row;
}

.social__media div {
    height: 30%;
    img {
        width: 70%;
    }
}

.map {
    width: 100vw;
    height: 100%;
    margin-bottom: 50px;
    text-align: center;

    img {
        width: 50%; 
    }
}

.separator {
    width: 80%;
    height: 5px;
    margin: 25px auto 25px;
    background-color: #002C69;
}

.parteners {
    width: 80%;
    margin: auto;
}

.parteners__subtitle {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #002C69;
    margin-bottom: 15px;
    text-align: center;    
}

.parteners__row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 30px;
}

.parteners__row div {
    height: 30%;
    text-align: center;

    img {
        width: 70%;
    }
}