

/*
* POP-UP
*/

.pop-up {
    position: fixed;
    z-index: 1000;
    left: 0%;
    top: 0;
    width: 0%;
    min-height: 100%;
    background: #F5F5F8;
    transition: all 0.5s ease;
    .opacity-in {
        opacity: 0;
        padding-left: 100px;
        padding-top: 50px;
        color: #122966;
        margin-top: 50px;
        .close {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        h2 {
            position: relative;
            display: inline-block;
            letter-spacing: 1px;
            font-size: 50px;
            color: #122966;
            z-index: 10;
            margin-top: 10px;
            text-transform: uppercase;
            &:after {
                content: '';
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                background: #122966;
                transform-origin: right;
            }

            @include small {
                position: static;
                width: 100%;
                text-align: center;
            }

            @include s-small {
                font-size: 25px;
            }
        }
        .artist-img {
            position: absolute;
            z-index: 0;
            top: 18%;
            left: 10%;
            .overlay-fade {
                width: 100%;
                height: 100%;
                position: absolute;
                background: #FCFCFC;
                transform-origin: right;
                @include small {
                    display: none;
                }
            }
            img {
                z-index: 0;
                width: 100%;
                height: auto;

            }

            @include small {
                position: static;
                text-align: center;
                width: 50%;
                margin: auto;
            }
        }
        .infos {
            position: relative;
            left: 25%;
            padding-left: 5px;

            .sub-infos {
                @include small {
                    line-height: 25px;                
                }
            }
            .shop-button {
                border: solid 1px #122966;
                padding: 5px 10px;
                transition: all 0.3s ease;
                color: #122966;
                background: white;
                cursor: pointer;
                letter-spacing: 0.5px;
                &:hover {
                    color: white;
                    background: #122966;
                }

                @include small {
                    margin: 15px 0px;
                }
            }
            .description {
                position: relative;
                width: 450px;
                margin-left: -5%;
                font-size: 18px;

                @include small {
                    width: 100%;
                    margin: 25px 0px 25px 0px;
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 0%;
                right: 55%;
                width: 50%;
                height: 100%;
                background: #122966;
                transform-origin: right;
                @include small {
                    display: none;
                }
            }

            @include medium {
                padding-left: 25px;
            }

            @include small {
                position: static;
                margin: auto;
                width: 50%;
                padding: 0;
            }

            @include s-small {

                width: 90%;
                margin-top: 20px;
            }

        }

        @include small {
            padding: 10px;
        }

        @include s-small {
            margin-top: 20px;
        }
    }
}

button {
    position: absolute;
    right: 0;
    top: 50px;

    @include small {
        z-index: 10001;
    }
}

.show {
    width: 70%;
    min-height: 100%;

    @include small {
        width: 80%;
        height: 100%;
    }

    @include s-small {
        width: 90%;
        height: 100%;
    }
}

.opacity-out {
    transition: all 0.2s ease;
    opacity: 1 !important;
}

.slide-title:after {
    animation: fade 0.6s 0.2s cubic-bezier(0.81, -0.01, 0.21, 0.93) forwards;
}

.slide-img {
    animation: fade 0.6s 0.25s cubic-bezier(0.81, -0.01, 0.21, 0.93) forwards;
}

.slide-infos:after {
    animation: fade 0.6s 0.30s cubic-bezier(0.81, -0.01, 0.21, 0.93) forwards;
}

@keyframes fade {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

iframe {
	margin: 3% 20% 0% 20%;
}