@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/Avenir-Next.ttc?") format("ttc")
}

@font-face {
	font-family: "SF Display";
	src: url("../fonts/SFDisplay-Regular.otf?") format("TrueType")
}

@font-face {
	font-family: "Brandon Grotesque Bold";
	src: url("../fonts/Brandon_bld.otf?") format("TrueType")
}

@font-face {
	font-family: "Brandon Grotesque Black";
	src: url("../fonts/Brandon_blk.otf?") format("TrueType")
}
