.edito {
    position: relative;
	width: 100vw;
    height: 100vh;
}

.edito__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 2;
    font-size: 18px;
}

.edito__title {
    position: absolute;
    left: 20%;
    z-index: 3;
    font-size: 120px;
    margin-top: 90px;
    text-transform: uppercase;
    color: #122966;

    @include medium {
        left: 12%;
    }

    @include small {
        position: static;
        margin: 10px 0px 10px 0px;
        font-size: 50px;
        width: 100vw;
        text-align: center;
    }
}

.edito__text {
    position: absolute;
    left: 20%;
    top: 140px;
    width: 20%;
    height:auto;
    letter-spacing: 1px;
    line-height:25px;
    padding: 85px;
    background: white;
    z-index: 2;
    font-size: 18px;

    strong {
        font-size: 20px; 
    }

    @include small {
        position: static;
        padding: 25px;
        margin: auto;
        width: 80%;
        letter-spacing: 1px;
        line-height: 23px;
        background: white;
        z-index: 2;
        font-size: 12px;
    }

    @include medium {
        width: 24%;
        left: 10%;
    }
}

.edito__background {
    position: absolute;
    right: 20%;
    z-index: 1;

    img {
        @include small {
            width: 100%;
        }
    }

    @include small {
        width: 100vw;
        position: static;

    }

    @include medium {
        right: 15%;
    }
    
}