.nav-lieu {
	width: 10vw;
	position: fixed;
	right: 0vw;
	top: 15vh;
	height: 70vh;
	@media (max-width: 850px){
		position: relative;
		width: 85vw;
		margin: 0 auto;
		height: auto;
		top: unset;
		left: unset;
	}
	ul {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		@media (max-width: 850px){
			flex-wrap: wrap;
			height: auto;
			width: 100%;
			flex-direction: row;
			justify-content: center;
			margin: 30px 0;
		}
		li {
			font-family: $lato;
			font-size: 9px;
			color: #9B9B9B;
			text-transform: uppercase;
			position: relative;
			@media (max-width: 850px){
				font-size: 16px;
				text-transform: uppercase;
				margin-left: 10px;
				margin-bottom: 5px;
				&:after {
					content: '/';
					margin-left: 10px;
					display: inline-block;
				}
			}
			&:before {
				content: '';
				position: absolute;
				left: -20px;
				top: 0;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #9B9B9B;
				@media (max-width: 850px){
					display: none;
				}
			}
		}
		.active {
			font-weight: 900;
			color: $red;
			@media (max-width: 850px){
				color: $blue;
				font-weight: 900;
			}
			&:before {
				background-color: $red;
				width: 11px;
				height: 11px;
			}
		}
	}
}

.container--lieu {
	width: 85vw;
	margin-left: 5vw;
	@media (max-width: 850px){
		width: 80vw;
		margin: 0 auto;
		.section {
			margin-bottom: 5vh;
		}
	}
	.section__title--medium {
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: '';
			height: 240px;
			width: 10px;
			position: absolute;
			left: -20px;
			top: 10px;
			background-color: $blue;
		}
		@media (max-width: 850px){
			display: none;
		}
	}
}
.lieu {
	width: 60%;
	display: inline-block;
	@media (max-width: 850px){
		width: 100%;
		margin: auto;
		margin-bottom: 40px;
	}
}
.lieu__img {
	width: 50%;
	display: inline-block;
	margin-left: 35px;
	position: relative;
	img {
		width: 100%;
		position: relative;
	}
	@media (max-width: 850px){
		width: 55%;
		margin-left: 20px;
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		z-index: -20;
		position: absolute;
		top: 20px;
		left: -20px;
		background-color: $yellow;
	}
}
.lieu__description {
	width: 70%;
	box-sizing: border-box;
	margin-left: 80px;
	margin-top: 10px;
	font-family: $lato;
	font-size: 14px;
	font-weight: regular;
	line-height: 1.2;
	@media (max-width: 850px){
		display: none;
	}
}
.lieu__infos {
	width: 40%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-left: -15px;
	margin-top: 20px;
	font-family: $lato;
	font-size: 18px;
	color: $red;
	@media (max-width: 850px){
		width: 35%;
	}
	.lieu__infosTitre {
		font-weight: bold;
		text-transform: uppercase;
	}
	.lieu__infosLink {
		margin-top: 10px;
		color: $red;
		position: relative;
		font-size: 14px;
		font-style: italic;
		text-decoration: none;
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -5px;
			height: 2px;
			width: 30px;
			background-color: $red;
		}
	}
	span {
		display: block;
	}
}
.lieu__artistes {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	@media (max-width: 850px){
		width: 100%;
	}
	.artiste__picture {
	    float: right;
	    margin-right: 10vw;
	    max-width: 15vw;
	    height: auto;

		img {
	        width: 100%;
	        height: 100%;
	    }
	}
	.artiste__journees {
		width: 100%;
		height: 100%;
	}
	.artiste__memeJournee {
		width: 50%;
		display: inline-block;
		.artiste{
			margin-bottom: 5px;
			width: 100%;
			font-family: $lato;
			font-weight: bold;
			color: $blue;
			font-size: 18px;
		}
		margin-bottom: 20px;
	}
	.artiste__date {
		margin-top: 5px;
		vertical-align: top;
		display: inline-block;
		box-sizing: border-box;
		width: 37%;
		text-align: right;
		padding-right: 20px;
		font-family: 'lato';
		text-transform: uppercase;
		font-weight: black;
		font-size: 12px;
		@media (max-width: 850px){
			width: 30%;
		}
	}
}