// .content-programmation {
// 	background-image: url('../img/bg_progra.svg');
// }
.container {
    width: $container;
    margin: 0 auto;
}
// #SECTION
.section {
    margin-bottom: 30vh;
}
.section__sur-title {
    margin-bottom: 5vh;
    text-align: center;
    font-family: $sf;
    font-size: 18px;
    text-transform: uppercase;
    color: $red;
}
// #SECTION_TOP_PROGRA
.section-top-progra {
    color: $yellow;
    text-transform: uppercase;	
}
.section__title--big {
    font-family: $brandon_black;
    font-size: 140px;
}
.section__title--left {
    width: 30vw;
    text-align: right;
}
.section__title--right {
    text-align: right;
}
.section__date--big {
    font-family: $brandon_bold;
    font-size: 50px;
    color: $yellow;
    letter-spacing: -2px;
}

// #SECTION-ARTISTE
.section__liste-artiste {
    margin: 0 auto;
    text-align: center;
}
.section__liste-artisteItem {
    display: inline-block;
    margin-top: 5px;
    font-family: $sf;
    font-size: 28px;
    transition: all 0.6s cubic-bezier(0,0,.25,1);
    cursor: pointer;

    &:hover {
        color: $yellow;
    }
    &:last-child{
        &:after {
            content: '';
        }
    }
    &:after {
        content: ' /';
    }
}
// #SECTION-DATE
.section-date__partie {
    width: $container*0.5;
}
.section-date__partie--left {
    text-align: right;
    margin-bottom: 15vh;
    .section__title--medium {
        text-align: left;
    }
    .artiste__date {
        right: -20%;
    }
}
.section-date__partie--right {
    float: right;
    text-align: left;
    .section__title--medium {
        text-align: right;
    }
	.artiste__date {
        left: -20%;
    }
}

//titre
.section__title--medium {
    font-family: $sf;
    font-size: 82px;
    text-transform: uppercase;
    color: $blue;
}
.section__date--medium {
    margin-bottom: 5vh;
    font-family: $sf;
    font-size: 36px;
    color: $blue;
    letter-spacing: -1.6px;
}
//artiste
.artiste {
    margin-bottom: 5vh;
    position: relative;
    cursor: pointer;

    &:hover {
        .artiste__name {
            color: $blue;
            position: relative;

            &:after {
                transform: scaleX(1);
            }
        }
    }
    .artiste__name {
        &:after {
            content: '';
            background: $blue;
            position: absolute;
            top: 100%;
            left: 0;
            width: 10%;
            height: 2px;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 0.2s ease-in;
        }
    }
}
.artiste__name {
	//!!!! DEMI-BOLD
    font-family: $avenir;
    font-size: 24px;
    margin-bottom: 1vh;
}
.artiste__infos {
    font-family: $avenir;
    font-size: 15px;
}
.artiste__date {
	//!!!! DEMI-BOLD
    font-family: $avenir;
    font-size: 12px;
    position: absolute;
    top: 0;
}
.artiste__picture {
    float: right;
    margin-right: 10vw;
    max-width: 15vw;
    height: auto;

	img {
        width: 100%;
        height: 100%;
    }
}
// agenda
.agenda {
    width: 65vw;
    height: 100px;
    float: left;
    margin-bottom: 3vh;
}
.agenda ul {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
}
.agenda__day {
    font-family: $sf;
    font-size: 22px;
    cursor: pointer;    
}
.agenda__day--active {
    color: $blue;   
}    
// #SECTION_LIEU
